<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Композиторство</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/globalComponents.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="shortcut icon" href="../img/title_logo.ico" type="image/ico">
</head>
<body>
<header>
    <nav>
        <h2 class="logo">Мікола Трафімчук</h2>
        <ul class="navigation_bar">
            <li><a href="../index.html">Главная</a></li>
            <li class="dropdown_menu">
                <a>Творчество</a>
                <ul class="dropdown_content">
                    <li><a href="../Components/Journalism.html">Журналистская деятельность</a></li>
                    <li><a href="#">Композиторская деятельность</a></li>
                    <li><a href="../Components/Literature.html">Литературная деятельность</a></li>
                    <li><a href="../Components/Publishing.html">Издательская деятельность</a></li>
                    <li><a href="#">На рабочем столе</a></li>
                </ul>
            </li>
            <li><a href="../Components/SocialActivity.html">Общественная деятельность</a></li>
            <li><a href="../Components/Contacts.html">Контакты</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="content">
        <div class="about_page">
            <div class="container">
                <div class="about_row">
                    <div class="about_body">
                        <div class="about_title">
                            <h2>КОМПОЗИТОРСКАЯ ДЕЯТЕЛЬНОСТЬ</h2><br>
                        </div>
                        <div class="about_text">
                            <p>Свои робкие и несовершенные композиции я начал создавать еще в школьном возрасте. Практически параллельно с сочинением первых стихов. Далее всё шло естественным образом. Я совершенствовался, занимался самообразованием, преобретал опыт, мастерство. Вскоре родилось творческое содружество с композиторами. Первым автором музыки на мои тексты был Валентин Перепёлкин, проподаватель Ивановской музыкальной школы (Брестская область). Несколько песен на мои слова написали композиторы-профессионалы Владимир Дорохин и Олег Чиркун. Более десятка песен создано вместе с самодеятельным композитором с Дрогичина Миколом Силичем. Итогом дружбы со старейшем поэтом-песенником Аверьяном Деружинским стало создание мной более двух десятков песен на его слова.
                            </p>
                            <br>
                            <p>Многие годы я писал песни на собственные слова. Затем начал переводить тексты известных и популярных песен с русского, украинского и польского языков. Есть даже свои авторские песни, написаные по-польску.
                                В последнее время готовлю к изданию несколько авторских песенников, тщательно подбираю исполнителей и оранжировщиков своих песен, в недалёком будущем намерен опробовать их на нашей белорусской эстраде.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery_page">
            <div class="container">
                <div class="slider_wrapper">
                    <div class="slider">
                        <div class="slider-item">
                            <img src="../img/composing/1.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/2.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/3.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/4.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/5.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/6.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/7.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/8.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/9.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/10.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/11.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/12.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/13.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/14.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/15.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/16.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/17.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/18.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/19.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/20.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/21.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/22.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/23.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/24.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/25.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/26.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/27.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/28.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/29.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/composing/30.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="song_gallery">
            <div class="container">
                <div class="song_row">
                    <div class="song_body">
                        <div class="song_title">
                            <h2>МУЗЫКАЛЬНЫЕ ПРОИЗВЕДЕНИЯ<br>
                            <span class="subtext">(открыть)</span></h2>
                        </div>
                        <div class="song_library">
                            <div class="song_item">
                                <p class="song_title_self">Азярэчка</p><br>
                                <p class="song_text">(Пераклад з польскай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/АЗЯРЭЧКА.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Азярэчка (Пераклад з польскай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Апошні дзень</p><br>
                                <p class="song_text">(Пераклад з польскай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/АПОШНІ%20ДЗЕНЬ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Апошні-дзень-_Пераклад-з-польскай-Міколы-Трафімчука_.mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Апошняе каханне</p><br>
                                <p class="song_text">(Сл. і муз. Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/АПОШНЯЕ%20КАХАННЕ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Апошняе каханне (Сл. і муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Ах, гады!</p><br>
                                <p class="song_text">(Сл. і муз. Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/АХ,%20ГАДЫ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Ах, гады!.. (Сл. і муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Ах, любоў!</p><br>
                                <p class="song_text">(Параклад з рускай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/АХ,%20ЛЮБОЎ!..pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Ах, любоў! (Параклад з рускай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Ах, Марыля!</p><br>
                                <p class="song_text">(Сл. і муз. Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/АХ,%20МАРЫЛЯ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Ах, Марыля! (Сл. і муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Ах, ноч</p><br>
                                <p class="song_text">(Параклад з рускай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/АХ,%20НОЧ!..pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Ах, ноч (Пераклад з рускай Мікола Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Бабіна лета</p><br>
                                <p class="song_text">(Пераклад з рускай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/БАБІНА%20ЛЕТА.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Бабіна лета (Пераклад з рускай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Бацькоўскі сад</p><br>
                                <p class="song_text">(Сл. і муз. Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/БАЦЬКОЎСКІ%20САД.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Бацькоўскі сад (Сл. і муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Без цябе</p><br>
                                <p class="song_text">(Сл. і муз. Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/БЕЗ%20ЦЯБЕ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Без цябе (Сл. і муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Беларуская песня</p><br>
                                <p class="song_text">(Сл. і муз. Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/БЕЛАРУСКАЯ%20ПЕСНЯ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Беларуская песня (Сл. і муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Беларускі вальс</p><br>
                                <p class="song_text">(Сл. і муз. Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/БЕЛАРУСКІ%20ВАЛЬС.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Беларускі-вальс-_Сл.mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Белы туман</p><br>
                                <p class="song_text">(Сл. і муз. Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/БЕЛЫ%20ТУМАН.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Белы туман (Сл. і муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Вазьму гармонік</p><br>
                                <p class="song_text">(Сл. і муз. Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ВАЗЬМУ%20ГАРМОНІК.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Вазьму гармонік (Сл. муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Вальс для кампаніі</p><br>
                                <p class="song_text">(Сл. і муз. Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ВАЛЬС%20ДЛЯ%20КАМПАНІІ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Вальс для кампаніі (Сл. і муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Вочы твае насупраць</p><br>
                                <p class="song_text">(Пераклад з рускай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ВОЧЫ%20ТВАЕ%20НАСУПРАЦЬ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Вочы твае насупраць (Пераклад з рускай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Гэта любімы наш вальс</p><br>
                                <p class="song_text">(Сл. і муз. Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ГЭТА%20ЛЮБІМЫ%20НАШ%20ВАЛЬС.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Гэта любімы наш вальс (Сл. і муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Дзе і калі</p><br>
                                <p class="song_text">(Пераклад з рускай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ДЗЕ%20І%20КАЛІ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Дзе і калі (Пераклад з рускай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Дзе маладосць мая</p><br>
                                <p class="song_text">(Пераклад з польскай Мікола Трафімчука)</p><br>
                                <a href="../source/song_pdf/ДЗЕ%20МАЛАДОСЦЬ%20МАЯ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Дзе маладосць мая (Пераклад з польскай Мікола Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Дзе ты, чарнявокая</p><br>
                                <p class="song_text">(Сл. А. Ушакова - муз. Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ДЗЕ%20ТЫ,%20ЧАРНАВОКАЯ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Дзе ты, чарнявокая (Сл. А. Ушакова - муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Дзынь-дзынь</p><br>
                                <p class="song_text">(Сл. і муз. Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ДЗЫНЬ-ДЗЫНЬ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Дзынь-дзынь... (Сл. і муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Домік вокнамі ў сад</p><br>
                                <p class="song_text">(Пераклад з рускай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ДОМІК%20ВОКНАМІ%20Ў%20САД.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Домік вокнамі ў сад (Пераклад з рускай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Жанчына і сакавік</p><br>
                                <p class="song_text">(Сл. і муз. Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ЖАНЧЫНА%20І%20САКАВІК.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Жанчына і сакавік (Сл і муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Зямля кветак</p><br>
                                <p class="song_text">(Пераклад з рускай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ЗЯМЛЯ%20КВЕТАК.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Зямля кветак (Пераклад з рускай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Калі я захварэю</p><br>
                                <p class="song_text">(Пераклад з рускай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/КАЛІ%20Я%20ЗАХВАРЭЮ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Калі я захварэю (Пераклад з рускай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Кахання віно</p><br>
                                <p class="song_text">(Пераклад з рускай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/КАХАННЯ%20ВІНО.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Кахання віно (Пераклад з рускай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Крушына</p><br>
                                <p class="song_text">(Пераклад з рускай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/КРУШЫНА.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Крушына (Пераклад з рускай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Ландыш белы</p><br>
                                <p class="song_text">(Пераклад з рускай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ЛАНДЫШ%20БЕЛЫ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Ландыш белы (Пераклад з рускай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Ландышы</p><br>
                                <p class="song_text">(Пераклад з рускай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ЛАНДЫШЫ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Ландышы (Пераклад з рускай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Леаніда</p><br>
                                <p class="song_text">(Сл. і муз. Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ЛЕАНІДА.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Леаніда (Сл. і муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Летняя ноч</p><br>
                                <p class="song_text">(Пераклад з рускай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ЛЕТНЯЯ%20НОЧ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Летняя ноч (Пераклад з русскай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Мая жонка</p><br>
                                <p class="song_text">(Пераклад з польскай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/МАЯ%20ЖОНКА.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Мая жонка (Пераклад з польскай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Навошта шчасце мне такое</p><br>
                                <p class="song_text">(Пераклад з рускай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/НАВОШТА%20ШЧАСЦЕ%20МНЕ%20ТАКОЕ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Навошта шчасце мне такое (Пераклад з рускай Мікола Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Напішу табе песню</p><br>
                                <p class="song_text">(Сл. і муз. Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/НАПІШУ%20ТАБЕ%20ПЕСНЮ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Напішу табе песню (Сл. і муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Неба адно над усімі</p><br>
                                <p class="song_text">(Пераклад з польскай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/НЕБА%20АДНО%20НАД%20УСІМІ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Неба адно над усімі (Пераклад з польскай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Няхай!</p><br>
                                <p class="song_text">(Сл. і муз. Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/НЯХАЙ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Няхай! (Сл. і муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Ой у полі тры таполі</p><br>
                                <p class="song_text">(Пераклад з украінскай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ОЙ%20У%20ПОЛІ%20ТРЫ%20ТАПОЛІ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Ой у полі тры таполі (Пераклад з украінскай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Пабудую дом</p><br>
                                <p class="song_text">(Пераклад з польскай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ПАБУДУЮ%20ДОМ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Пабудую дом (Пераклад з польскай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Пажаданні</p><br>
                                <p class="song_text">(Пераклад з рускай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ПАЖАДАННІ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Пажаданні (Пераклад з рускай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Памаўчым!</p><br>
                                <p class="song_text">(Сл. муз. Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ПАМАЎЧЫМ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Памаўчым! (Сл. муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Пераблытаны ўсе каляндарныя даты</p><br>
                                <p class="song_text">(Сл. Міколы Федзюковіча, муз. Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ПЕРАБЛЫТАНЫ%20ЎСЕ%20КАЛЯНДАРНЫЯ%20ДАТЫ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Пераблытаны ўсе каляндарныя даты (Сл. Міколы Федзюковіча, муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Песня пра рачулку</p><br>
                                <p class="song_text">(Пераклад з польскай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ПЕСНЯ%20ПРА%20РАЧУЛКУ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Песня пра рачулку (Пераклад з польскай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Позняе каханне</p><br>
                                <p class="song_text">(Сл. і муз. Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ПОЗНЯЕ%20КАХАННЕ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Позняе каханне (Сл. і муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">СНЕГИРЕК</p><br>
                                <p class="song_text">(Сл. и муз Миколы Трофимчука)</p><br>
                                <a href="../source/song_pdf/СНЕГИРЁК.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/СНЕГИРЕК (Сл. и муз Миколы Трофимчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Украіна</p><br>
                                <p class="song_text">(Сл. и муз Миколы Трофимчука)</p><br>
                                <a href="../source/song_pdf/УКРАІНА.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Украіна (Сл. і муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Чаму я не цыган</p><br>
                                <p class="song_text">(Сл. и муз Миколы Трофимчука)</p><br>
                                <a href="../source/song_pdf/ЧАМУ%20Я%20НЕ%20ЦЫГАН.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Чаму я не цыган (Сл. і муз. Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Чарнавокі</p><br>
                                <p class="song_text">(Пераклад з рускай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ЧАРНАВОКІ.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Чарнавокі (Пераклад з рускай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Чырвоная рута</p><br>
                                <p class="song_text">(Пераклад з украінскага Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ЧЫРВОНАЯ%20РУТА.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Чырвоная рута (Пераклад з украінскага Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                            <div class="song_item">
                                <p class="song_title_self">Явар і каліна</p><br>
                                <p class="song_text">(Пераклад з рускай Міколы Трафімчука)</p><br>
                                <a href="../source/song_pdf/ЯВАР%20І%20КАЛІНА.pdf" target="_blank"><p class="song_subtext">Текст песни</p></a><br>
                                <audio controls preload="none">
                                    <source src="../source/audio/Явар і каліна (Пераклад з рускай Міколы Трафімчука).mp3">
                                </audio>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="video_gallery">
            <div class="container">
                <div class="video_row">
                    <div class="video_body">
                        <div class="video_title"><h2>ВИДЕО</h2></div>
                        <div class="video_library">
                            <div class="video_item">
                                <iframe
                                        width="490" height="290"
                                        loading="lazy"
                                        srcdoc="<a href=https://www.youtube.com/embed/gahKp-1MLOk><img src=../img/composing/video_image/1.jpg></a>">
                                </iframe>
                            </div>
                            <div class="video_item">
                                <iframe
                                        width="490" height="290"
                                        loading="lazy"
                                        srcdoc="<a href=https://www.youtube.com/embed/V3ZfsCFJKqA><img src=../img/composing/video_image/2.jpg></a>">
                                </iframe>
                            </div>
                            <div class="video_item">
                                <iframe
                                        width="490" height="290"
                                        loading="lazy"
                                        srcdoc="<a href=https://www.youtube.com/embed/YmMK36yNXpQ><img src=../img/composing/video_image/3.jpg></a>">
                                </iframe>
                            </div>
                            <div class="video_item">
                                <iframe
                                        width="490" height="290"
                                        loading="lazy"
                                        srcdoc="<a href=https://www.youtube.com/embed/uMftwE7TVto><img src=../img/composing/video_image/4.jpg></a>">
                                </iframe>
                            </div>
                            <div class="video_item">
                                <iframe
                                        width="490" height="290"
                                        loading="lazy"
                                        srcdoc="<a href=https://www.youtube.com/embed/akPDeDTWD08><img src=../img/composing/video_image/5.jpg></a>">
                                </iframe>
                            </div>
                            <div class="video_item">
                                <iframe
                                        width="490" height="290"
                                        loading="lazy"
                                        srcdoc="<a href=https://www.youtube.com/embed/Bgf_UtXtVaU><img src=../img/composing/video_image/6.jpg></a>">
                                </iframe>
                            </div>
                            <div class="video_item">
                                <iframe
                                        width="490" height="290"
                                        loading="lazy"
                                        srcdoc="<a href=https://www.youtube.com/embed/U-hxkPlL7uc><img src=../img/composing/video_image/7.jpg></a>">
                                </iframe>
                            </div>
                            <div class="video_item">
                                <iframe
                                        width="490" height="290"
                                        loading="lazy"
                                        srcdoc="<a href=https://www.youtube.com/embed/qbbyjBNlMSs><img src=../img/composing/video_image/8.jpg></a>">
                                </iframe>
                            </div>
                            <div class="video_item">
                                <iframe
                                        width="490" height="290"
                                        loading="lazy"
                                        srcdoc="<a href=https://www.youtube.com/embed/qkvmC2pM1es><img src=../img/composing/video_image/9.jpg></a>">
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="notes_page">
            <div class="container">
                <div class="notes_row">
                    <div class="notes_body">
                        <div class="notes_title">
                            <h2>НОТЫ И ТЕКСТЫ<br><span class="subtext">Музыка Миколы Силича,<br>слова Миколы Трофимчука</span></h2>
                        </div>
                        <div class="notes_pdf">
                            <div class="notes_item">
                                <a href="../img/composing/notes/Апошни%20бал.pdf" target="_blank"><img src="../img/composing/notes/Апошні%20баль%201.jpg" loading = "lazy" alt=""></a>
                                <a href="../img/composing/notes/notes_text/АПОШНІ%20БАЛЬ.pdf" target="_blank"><p class="notes_subtext">Текст песни</p></a><br>
                            </div>
                            <div class="notes_item">
                                <a href="../img/composing/notes/Вальс%20на%20развитанне.pdf" target="_blank"><img src="../img/composing/notes/Вальс%20на%20развітанне%201.jpg" loading = "lazy" alt=""></a>
                                <a href="../img/composing/notes/notes_text/ВАЛЬС%20НА%20РАЗВІТАННЕ.pdf" target="_blank"><p class="notes_subtext">Текст песни</p></a><br>
                            </div>
                            <div class="notes_item">
                                <a href="../img/composing/notes/Драгичынский%20вальс.pdf" target="_blank"><img src="../img/composing/notes/Драгічынскі%20вальс%201.jpg" loading = "lazy" alt=""></a>
                                <a href="../img/composing/notes/notes_text/ДРАГІЧЫНСКІ%20ВАЛЬС.pdf" target="_blank"><p class="notes_subtext">Текст песни</p></a><br>
                            </div>
                            <div class="notes_item">
                                <a href="../img/composing/notes/Павуцинка.pdf" target="_blank"><img src="../img/composing/notes/Павуцінка%201.jpg" loading = "lazy" alt=""></a>
                                <a href="../img/composing/notes/notes_text/ПАВУЦІНКА.pdf" target="_blank"><p class="notes_subtext">Текст песни</p></a><br>
                            </div>
                            <div class="notes_item">
                                <a href="../img/composing/notes/рыгорка.pdf" target="_blank"><img src="../img/composing/notes/Рыгорка%201.jpg" loading = "lazy" alt=""></a>
                                <a href="../img/composing/notes/notes_text/РЫГОРКА.pdf" target="_blank"><p class="notes_subtext">Текст песни</p></a><br>
                            </div>
                            <div class="notes_item">
                                <a href="../img/composing/notes/хутарок.pdf" target="_blank"><img src="../img/composing/notes/Хутарок%201.jpg" loading = "lazy" alt=""></a>
                                <a href="../img/composing/notes/notes_text/ХУТАРОК.pdf" target="_blank"><p class="notes_subtext">Текст песни</p></a><br>
                            </div>
                            <div class="notes_item">
                                <a href="../img/composing/notes/Бэзавы%20цвет.pdf" target="_blank"><img src="../img/composing/notes/Песня%20БЭЗАВЫ%20ЦВЕТ.%20Сл.%20Міколы%20Трафімчука,%20муз.%20Валянціна%20Перапёлкіна.JPG" loading = "lazy" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
        <script src="../js/slick.min.js"></script>
        <script src="../js/js.js"></script>
    </div>
</main>
<footer>
    <div class="footer">
        <p class="footer-text-author">Сайт Миколы Трафимчука</p>
    </div>
</footer>
</body>
</html>