<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Журналистика</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/globalComponents.css">
    <link rel="shortcut icon" href="../img/title_logo.ico" type="image/ico">
</head>
<body>
<header>
    <nav>
        <h2 class="logo">Мікола Трафімчук</h2>
        <ul class="navigation_bar">
            <li><a href="../index.html">Главная</a></li>
            <li class="dropdown_menu">
                <a>Творчество</a>
                <ul class="dropdown_content">
                    <li><a href="#">Журналистская деятельность</a></li>
                    <li><a href="../Components/Composing.html">Композиторская деятельность</a></li>
                    <li><a href="../Components/Literature.html">Литературная деятельность</a></li>
                    <li><a href="../Components/Publishing.html">Издательская деятельность</a></li>
                    <li><a href="#">На рабочем столе</a></li>
                </ul>
            </li>
            <li><a href="../Components/SocialActivity.html">Общественная деятельность</a></li>
            <li><a href="../Components/Contacts.html">Контакты</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="about_page">
        <div class="container">
            <div class="about_row">
                <div class="about_body">
                    <div class="about_title">
                        <h2>ЖУРНАЛИСТСКАЯ ДЕЯТЕЛЬНОСТЬ</h2><br>
                    </div>
                    <div class="about_text">
                        <p>В 1975 году я заочно закончил филфак Брестского пединститута
                            (теперь – университет), и пошел работать в редакцию Ивановской
                            райгазеты, которая тогда называлась «Чырвоная звязда».
                            Протекцию мне сделал известный уже тогда белорусский поэт, мой
                            земляк, родом из деревни Гутово (Дрогичинский район), который
                            жил в Минске, Микола Федюкович. Я уже печатал свои стихи в
                            газетах, и тогдашний редактор районки Алексей Трофимович Кавко
                            безоговорочно взял меня заведующим отделом писемь и
                            руководителем литобъединения «Ясельда». О «Ясельде разговор
                            отдельный, а журналист из меня вышел не хуже, чем любой
                            опытный писака…
                            Пять лет я трудился и жил в Иваново, пока вдруг почувствовал, что
                            моей творческой душе тесно в провинции. Уволился по
                            собственному и поехал без всяких рекомендаций в Брест. Приняли
                            на Брестскую студию телевидения в отдел информации. Работал
                            года два, пока не подбили меня перейти на профсоюзную работу,
                            где я быстро понял, что всё это – советская профанация… Вернулся
                            на год обратно в районку, где уже редакторствовал Валерий
                            Михальчук. Отсюда вскоре перевёлся в соседний район, где жили
                            родители, Дрогичинский; и в бытность редактора Алексея Сергея
                            работал заведующим отделом сельского хозяйства местной
                            райгазеты «Запаветы Леніна» (теперь – «Драгічынскі веснік»), а по
                            совместительству являлся руководителем литобъединения
                            “Світанак”.
                        </p>
                        <br>
                        <p>В родном своём районе я смог усидеть только пять лет. Летом 1988
                            года уволился и поехал искать удачу в столицу. Здесь ненадолго
                            зацепился в газете “Звязда”. Делал на договорной основе интервью,
                            зарисовки, очерки, пока через месяца три перевёлся
                            корреспондентом в отдел писем областной газеты “Мінская
                            праўда”. Работал здесь с 1989 по 1990 годы, затем меня пригласили
                            в Бюро пропаганды художественной литературы Союза писателей
                            БССР…
                            Года через три я опять ненадолго вернулся в журналистику,
                            устроившись корреспондентом в новую республиканскую газету
                            для инвалидов “Наша доля”. Но в 1994 году решил уйти на “свой
                            хлеб” – стать предпринимателем и заняться издательской
                            деятельностью.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery_page">
        <div class="container">
            <div class="slider_wrapper">
                <div class="slider">
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(1).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(2).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(3).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(4).jpg"  alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(5).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(6).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(7).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(8).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(9).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(10).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(11).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(12).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(13).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(14).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(15).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(16).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(17).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(18).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(19).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(20).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(21).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(22).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(23).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(24).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(25).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(26).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(27).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(28).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(29).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(30).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(31).jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/journalism/1%20(32).jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/js.js"></script>
</main>
<footer>
    <div class="footer">
        <p class="footer-text-author">Сайт Миколы Трафимчука</p>
    </div>
</footer>
</body>
</html>