<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Литература</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/globalComponents.css">
    <link rel="shortcut icon" href="../img/title_logo.ico" type="image/ico">
</head>
<body>
<header>
    <nav>
        <h2 class="logo">Мікола Трафімчук</h2>
        <ul class="navigation_bar">
            <li><a href="../index.html">Главная</a></li>
            <li class="dropdown_menu">
                <a>Творчество</a>
                <ul class="dropdown_content">
                    <li><a href="../Components/Journalism.html">Журналистская деятельность</a></li>
                    <li><a href="../Components/Composing.html">Композиторская деятельность</a></li>
                    <li><a href="#">Литературная деятельность</a></li>
                    <li><a href="../Components/Publishing.html">Издательская деятельность</a></li>
                    <li><a href="#">На рабочем столе</a></li>
                </ul>
            </li>
            <li><a href="../Components/SocialActivity.html">Общественная деятельность</a></li>
            <li><a href="../Components/Contacts.html">Контакты</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="content">
        <div class="about_page">
            <div class="container">
                <div class="about_row">
                    <div class="about_body">
                        <div class="about_title">
                            <h2>ЛИТЕРАТУРНАЯ ДЕЯТЕЛЬНОСТЬ</h2><br>
                        </div>
                        <div class="about_text">
                            <p>Начало его уходит глубоко в раннее детство, может, даже в младенчество…
                                Если что и запоминалось – то в мельчайших деталях. Мечтать, фантазировать было любимым
                                занятием. Хотелось подражать каждой книжке, газете, потом – кино, радио… Послушав однажды
                                какую-нибудь радиопостановку – развивал сюжет далее, по-своему, придумывал новые…
                                Сочинял всё: стишки, песни, сказки; из тетрадок вырывал листки, резал, складывал, склеивал,
                                писал простые рассказики. Особенно любил кино и радио (телевидения тогда еще не было). Вырезал
                                из тетрадных листков полоски, склеивал их, расчерчивал экранчики, в них рисовал по выдуманному
                                сюжету рисунки, потом показывал другим детям, озвучивал, «крутил кино». «Крутить кино»,
                                наверное, никто никогда ещё из моих ровесников не догадывался. Все дети, раскрыв рты, смотрели
                                мои «фильмы», ждали следующих «сеансов»…
                            </p>
                            <br>
                            <p>Первое, более или менее настоящее, стихотворение написал по заданию учительницы на
                                школьный конкурс в 6 классе. В небольшой восьмилетней деревенской школке, где училось всего
                                немного больше ста детей, пожалуй, не нашлось ни одного «поэта». Я оказался единственным.
                                Стихотворение поместили в газете, и я впервые почувствовал в себя великое призвание. Тогда,
                                помню, раз и навсегда дал себе слово: писать всегда, писать везде…
                                Все школьные годы в дальнейшем я жадно изучал белорусскую, русскую и зарубежную
                                литературу – не так интересовала меня программа, как любил заглядывать за таинственную и
                                малодоступную завесу: читал, в основном, внепрограммную литературу. Все сочинения писал на
                                вольные темы стихами, а при поступлении на филфак пединститута написал по белорусской
                                литературе целую поэму по произведениям А. Кулешова «Каб прыйсці ў камунізм яго першымі
                                жыхарамі…”
                                Более красочно об этом хочу написать в своих воспоминаниях и эссэ.
                                А затем были первые публикации, книги…
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery_page">
            <div class="container">
                <div class="slider_wrapper">
                    <div class="slider">
                        <div class="slider-item">
                            <img src="../img/literature/1.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/2.jpg"  alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/3.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/4.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/5.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/6.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/7.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/8.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/9.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/10.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/11.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/12.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/13.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/14.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/15.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/16.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/17.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/18.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/19.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/20.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/21.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/22.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/23.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/24.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/25.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/26.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/27.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/28.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/29.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/30.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/31.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/32.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/33.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/34.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/35.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/36.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/37.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/38.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/39.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/40.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/41.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/42.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/43.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/44.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/45.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="book_photo_gallery">
            <div class="container">
                <div class="book_photo_gallery_body">
                    <div class="book_gallery_title">
                        <h2>Мои книги</h2>
                    </div>
                    <div class="book_gallery_item">
                        <img src="../img/literature/books/01.jpg" alt="#">
                        <img src="../img/literature/books/02.jpg" alt="#">
                        <img src="../img/literature/books/03.jpg" alt="#">
                        <img src="../img/literature/books/04.jpg" alt="#">
                        <img src="../img/literature/books/05.jpg" alt="#">
                        <img src="../img/literature/books/06.jpg" alt="#">
                        <img src="../img/literature/books/07.jpg" alt="#">
                        <img src="../img/literature/books/08.jpg" alt="#">
                        <img src="../img/literature/books/09.jpg" alt="#">
                        <img src="../img/literature/books/10.jpg" alt="#">
                        <img src="../img/literature/books/11.jpg" alt="#">
                        <img src="../img/literature/books/12.jpg" alt="#">
                        <img src="../img/literature/books/13.jpg" alt="#">
                        <img src="../img/literature/books/14.jpg" alt="#">
                        <img src="../img/literature/books/15.jpg" alt="#">
                        <img src="../img/literature/books/16.jpg" alt="#">
                        <img src="../img/literature/books/17.jpg" alt="#">
                        <img src="../img/literature/books/18.jpg" alt="#">
                        <img src="../img/literature/books/19.jpg" alt="#">
                        <img src="../img/literature/books/20.jpg" alt="#">
                        <img src="../img/literature/books/21.jpg" alt="#">
                        <img src="../img/literature/books/22.jpg" alt="#">
                        <img src="../img/literature/books/23.jpg" alt="#">
                        <img src="../img/literature/books/24.jpg" alt="#">
                        <img src="../img/literature/books/25.jpg" alt="#">
                        <img src="../img/literature/books/26.jpg" alt="#">
                        <img src="../img/literature/books/27.jpg" alt="#">
                        <img src="../img/literature/books/28.jpg" alt="#">
                        <img src="../img/literature/books/29.jpg" alt="#">
                        <img src="../img/literature/books/30.jpg" alt="#">
                        <img src="../img/literature/books/32.jpg" alt="#">
                        <img src="../img/literature/books/31.jpg" alt="#">
                        <img src="../img/literature/books/33.jpg" alt="#">
                        <img src="../img/literature/books/34.jpg" alt="#">
                        <img src="../img/literature/books/35.jpg" alt="#">
                        <img src="../img/literature/books/36.jpg" alt="#">
                        <img src="../img/literature/books/37.jpg" alt="#">
                        <img src="../img/literature/books/38.jpg" alt="#">
                        <img src="../img/literature/books/39.jpg" alt="#">
                        <img src="../img/literature/books/40.jpg" alt="#">
                    </div>
                </div>
            </div>
        </div>
        <div class="book_pdf_gallery">
            <div class="container">
                <div class="book_photo_gallery_body">
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/Мікола%20Трафімчук.%20БЕЛАЯ%20ПТУШКА%20ДУША.pdf" target="_blank"><img src="../img/literature/pdf/Белая%20птушка.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/Мікола%20Трафімчук.%20ЛЮБІЦЬ%20БОГ%20БЕЛАРУСЬ.pdf" target="_blank"><img src="../img/literature/pdf/Любиць%20Бог%20Беларусь.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/Мікола%20Трафімчук.%20НАДВОР'Е%20НАЗАЎТРА.pdf" target="_blank"><img src="../img/literature/pdf/НАДВОРЕ%20НАЗАУТРА.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/Мікола%20Трафімчук.%20НЯПРАВІЛЬНАЯ%20ВЕРШЫ.pdf" target="_blank"><img src="../img/literature/pdf/НЕПРАВИЛЬНЫЯ%20ВЕРШЫ.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/Мікола%20Трафімчук.%20ПРОСТА...%20ДОБРЫЯ%20ВЕРШЫ.pdf" target="_blank"><img src="../img/literature/pdf/ПРОСТА%20ДОБРЫЯ%20ВЕРШЫ.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/Мікола%20Трафімчук.%20ТАК%20БЫ%20МОВІЦЬ....pdf" target="_blank"><img src="../img/literature/pdf/ТАК%20БЫ%20МОВИЦЬ.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/Мікола%20Трафімчук.%20ТРАЕКТОРЫЯ.pdf" target="_blank"><img src="../img/literature/pdf/ТРАЕКТОРИЯ.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/Мікола%20Трафімчук.%20ТРЫВАННЕ.pdf" target="_blank"><img src="../img/literature/pdf/ТРЫВАННЕ.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/Мікола%20Трафімчук.%20ТУТ%20І%20ТАМ.pdf" target="_blank"><img src="../img/literature/pdf/ТУТ%20И%20ТАМ.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/Мікола%20Трафімчук.%20ЧАС%20АНЁЛА.pdf" target="_blank"><img src="../img/literature/pdf/ЧАС%20АНЁЛА.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/Мікола%20Трафімчук.%20ШТОДНЯ.pdf" target="_blank"><img src="../img/literature/pdf/ШТОДНЯ.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/Мікола%20Трафімчук.%20ШЭРАЯ%20РУСЬ.pdf" target="_blank"><img src="../img/literature/pdf/ШЭРАЯ%20РУСЬ.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/Мікола%20Трафімчук.%20Я%20І%20МЫ.pdf" target="_blank"><img src="../img/literature/pdf/Я%20и%20мы.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/Mikola%20Trafimcuk.%20NASAMOUNAJE.pdf" target="_blank"><img src="../img/literature/pdf/Mikola%20Trafimcuk.%20NASAMOUNAJE-1_page-0001.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/БЕЛАРУСЬ...%20НА%20ДАЛОНІ.pdf" target="_blank"><img src="../img/literature/pdf/БЕЛАРУСЬ...%20НА%20ДАЛОНІ-1_page-0001.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/ДАБРАЗЛО.pdf" target="_blank"><img src="../img/literature/pdf/ДАБРАЗЛО-1_page-0001.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/Жыві%20па-Боску!..pdf" target="_blank"><img src="../img/literature/pdf/Жыві%20па-Боску!.-1_page-0001.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/Іпастасі.pdf" target="_blank"><img src="../img/literature/pdf/Іпастасі-1_page-0001.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/Мікола%20Трафімчук%20ONLINE.pdf" target="_blank"><img src="../img/literature/pdf/Мікола%20Трафімчук%20ONLINE-1_page-0001.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/Мікола%20Трафімчук.%20ГОД%20БНР.pdf" target="_blank"><img src="../img/literature/pdf/Мікола%20Трафімчук.%20ГОД%20БНР-1_page-0001.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/Мікола%20Трафімчук.%20КАСКАД%20ГАРЫЗАНТАЛЯЎ.pdf" target="_blank"><img src="../img/literature/pdf/Мікола%20Трафімчук.%20КАСКАД%20ГАРЫЗАНТАЛЯЎ-1_page-0001.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/Наканавана%20быць.pdf" target="_blank"><img src="../img/literature/pdf/Наканавана%20быць-1_page-0001.jpg" loading = "lazy" alt=""></a>
                    </div>
                    <div class="book_pdf_item">
                        <a href="../img/literature/pdf/ТРЫУМФ-50%20(самы%20апошні,%20канчатковы%20варыянт).pdf" target="_blank"><img src="../img/literature/pdf/ТРЫУМФ-50%20(самы%20апошні,%20канчатковы%20варыянт)-1_page-0001.jpg" loading = "lazy" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="book_photo_gallery">
            <div class="container">
                    <div class="book_gallery_title">
                        <h2>Буклет и визитка</h2>
                    </div>
                    <div class="book_photo_gallery_body_var1">
                        <div class="book_pdf_item_var1">
                            <a href="../img/literature/booklet/Буклет%20Міколы%20Трафімчука%20-1.pdf" target="_blank"><img src="../img/literature/booklet/Буклет%20Міколы%20Трафімчука%20-1_page-0001.jpg" loading = "lazy" alt=""></a>
                        </div>
                        <div class="book_pdf_item_var1">
                            <a href="../img/literature/booklet/Буклет%20Міколы%20Трафімчука%20-2.pdf" target="_blank"><img src="../img/literature/booklet/Буклет%20Міколы%20Трафімчука%20-2_page-0001.jpg" loading = "lazy" alt=""></a>
                        </div>
                        <div class="book_pdf_item_var1">
                            <a href="../img/literature/booklet/Візітоўка-1.pdf" target="_blank"><img src="../img/literature/booklet/Візітоўка-1_page-0001.jpg" loading = "lazy" alt=""></a>
                        </div>
                        <div class="book_pdf_item_var1">
                            <a href="../img/literature/booklet/Візітоўка-2.pdf" target="_blank"><img src="../img/literature/booklet/Візітоўка-2_page-0001.jpg" loading = "lazy" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="video_gallery">
            <div class="container">
                <div class="video_row">
                    <div class="video_body">
                        <div class="video_title"><h2>Мои видео</h2></div>
                        <div class="video_library">
                            <div class="video_item">
                                <iframe
                                        width="490" height="290"
                                        loading="lazy"
                                        srcdoc="<a href=https://www.youtube.com/embed/mn0AllY265U><img src=../img/literature/video_image/1.jpg></a>">
                                </iframe>
                            </div>
                            <div class="video_item">
                                <iframe
                                        width="490" height="290"
                                        loading="lazy"
                                        srcdoc="<a href=https://www.youtube.com/embed/UDdnNCSDXXY><img src=../img/literature/video_image/2.jpg></a>">
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery_page">
            <div class="container">
                <div class="gallery_app_title">
                    <h2>Мне 50 лет!</h2>
                </div>
                <div class="slider_wrapper">
                    <div class="slider">
                        <div class="slider-item">
                            <img src="../img/literature/gallery_app/1.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/gallery_app/2.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/gallery_app/3.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/gallery_app/4.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/gallery_app/5.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/gallery_app/6.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/gallery_app/7.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/gallery_app/8.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/gallery_app/9.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/gallery_app/10.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/gallery_app/11.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/gallery_app/12.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/gallery_app/13.jpg" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="../img/literature/gallery_app/14.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
        <script src="../js/slick.min.js"></script>
        <script src="../js/js.js"></script>
</main>
<footer>
    <div class="footer">
        <p class="footer-text-author">Сайт Миколы Трафимчука</p>
    </div>
</footer>
</body>
</html>