<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Издательская</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/header.css">
	<link rel="stylesheet" href="../css/globalComponents.css">
	<link rel="stylesheet" href="../css/footer.css">
	<link rel="shortcut icon" href="../img/title_logo.ico" type="image/ico">
</head>
<body>
<header>
	<nav>
		<h2 class="logo">Мікола Трафімчук</h2>
		<ul class="navigation_bar">
			<li><a href="../index.html">Главная</a></li>
			<li class="dropdown_menu">
				<a>Творчество</a>
				<ul class="dropdown_content">
					<li><a href="../Components/Journalism.html">Журналистская деятельность</a></li>
					<li><a href="../Components/Composing.html">Композиторская деятельность</a></li>
					<li><a href="../Components/Literature.html">Литературная деятельность</a></li>
					<li><a href="#">Издательская деятельность</a></li>
					<li><a href="#">На рабочем столе</a></li>
				</ul>
			</li>
			<li><a href="../Components/SocialActivity.html">Общественная деятельность</a></li>
			<li><a href="../Components/Contacts.html">Контакты</a></li>
		</ul>
	</nav>
</header>
<main>
	<div class="content">
		<div class="about_page">
			<div class="container">
				<div class="about_row">
					<div class="about_body">
						<div class="about_title">
							<h2>ИЗДАТЕЛЬСКАЯ (И РЕДАКЦИОННАЯ) ДЕЯТЕЛЬНОСТЬ</h2><br>
						</div>
						<div class="about_text">
							<p>В 1994 году я зарегистрировал многопрофильное частное предприятие, которое назвал «Тэмикс» («Тэ» – звучание первой буквы фамилии, «Мик» – первая часть имени в белорусской транскрипции, а «с» просто так добавил для созвучия). Вначале не знал, чем буду заниматься, скорее, всем понемногу. Но вскоре определился окончательно: бизнес будет иметь два направления: редакционно-издательская и концертная деятельность. Первой фактически занимаюсь по сей день, а концертная не задалась…
								За 25 с лишним лет подготовил и издал более 200 книг различного направления и тематики. Работал в основном сам, привлекая иногда людей близких и хорошо знакомых, отчего бизнес сложился в принципе семейным. Первые десять лет выпускал в основном коммерческую литературу – преимущественно это были брошюры, которые хорошо реализовывались через киоски «Белсоюзпечати». После 2005 года реализация их упала до нуля, и я приступил к внедрению в жизнь перспективного на то время проекта: издание литературного народного альманаха «Гоман». Альманах этот выходил почти до 2020 года. Вышло 30 его выпусков и с десяток приложений в виде коллективных сборников. В одно время был запущен его собрат – альманах «Талент». Но он просуществовал недолго – вышло четыре выпуска.
							</p>
							<br>
							<p>Всё это время продолжают поступать заказы от многочисленных авторов, «гомановцев», на издание их собственных книг. Но с 2007 года я не имею собственной издательской лицензии, и остаётся только их редактировать и готовить к печати в других издательствах, с которыми сотрудничаю много лет.
								В 2008 году меня, кроме всего прочего, пригласили в ОО БелОИ (общественная организация «Белорусское общество инвалидов») редактировать литературно-художественный журнал «Акно», учреждённый ещё в начале 90-х. Под моим редактированием до 2011 года вышли восемь его номеров (смотреть раздел «журнал «АКНО»!).
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gallery_page">
			<div class="container">
				<div class="slider_wrapper">
					<div class="slider">
						<div class="slider-item">
							<img src="../img/publishing/1.jpg" alt="">
						</div>
						<div class="slider-item">
							<img src="../img/publishing/2.jpg" alt="">
						</div>
						<div class="slider-item">
							<img src="../img/publishing/3.jpg" alt="">
						</div>
						<div class="slider-item">
							<img src="../img/publishing/4.jpg" alt="">
						</div>
						<div class="slider-item">
							<img src="../img/publishing/5.jpg" alt="">
						</div>
						<div class="slider-item">
							<img src="../img/publishing/6.jpg" alt="">
						</div>
						<div class="slider-item">
							<img src="../img/publishing/7.jpg" alt="">
						</div>
						<div class="slider-item">
							<img src="../img/publishing/8.jpg" alt="">
						</div>
						<div class="slider-item">
							<img src="../img/publishing/9.jpg" alt="">
						</div>
						<div class="slider-item">
							<img src="../img/publishing/10.jpg" alt="">
						</div>
						<div class="slider-item">
							<img src="../img/publishing/11.jpg" alt="">
						</div>
						<div class="slider-item">
							<img src="../img/publishing/12.jpg" alt="">
						</div>
						<div class="slider-item">
							<img src="../img/publishing/13.jpg" alt="">
						</div>
						<div class="slider-item">
							<img src="../img/publishing/14.jpg" alt="">
						</div>
						<div class="slider-item">
							<img src="../img/publishing/15.jpg" alt="">
						</div>
						<div class="slider-item">
							<img src="../img/publishing/16.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="book_photo_gallery">
			<div class="container">
				<div class="book_photo_gallery_body">
					<div class="book_gallery_title">
						<h2>Изданные книги</h2>
					</div>
					<div class="book_gallery_item">
						<img src="../img/publishing/books/1.jpg" alt="#">
						<img src="../img/publishing/books/2.jpg" alt="#">
						<img src="../img/publishing/books/3.jpg" alt="#">
						<img src="../img/publishing/books/4.jpg" alt="#">
						<img src="../img/publishing/books/5.jpg" alt="#">
						<img src="../img/publishing/books/6.jpg" alt="#">
						<img src="../img/publishing/books/7.jpg" alt="#">
						<img src="../img/publishing/books/8.jpg" alt="#">
						<img src="../img/publishing/books/9.jpg" alt="#">
						<img src="../img/publishing/books/10.jpg" alt="#">
						<img src="../img/publishing/books/11.jpg" alt="#">
						<img src="../img/publishing/books/12.jpg" alt="#">
						<img src="../img/publishing/books/13.jpg" alt="#">
						<img src="../img/publishing/books/14.jpg" alt="#">
						<img src="../img/publishing/books/15.jpg" alt="#">
						<img src="../img/publishing/books/16.jpg" alt="#">
						<img src="../img/publishing/books/17.jpg" alt="#">
						<img src="../img/publishing/books/18.jpg" alt="#">
						<img src="../img/publishing/books/19.jpg" alt="#">
						<img src="../img/publishing/books/20.jpg" alt="#">
						<img src="../img/publishing/books/21.jpg" alt="#">
						<img src="../img/publishing/books/22.jpg" alt="#">
						<img src="../img/publishing/books/23.jpg" alt="#">
						<img src="../img/publishing/books/24.jpg" alt="#">
						<img src="../img/publishing/books/25.jpg" alt="#">
						<img src="../img/publishing/books/26.jpg" alt="#">
						<img src="../img/publishing/books/27.jpg" alt="#">
						<img src="../img/publishing/books/28.jpg" alt="#">
						<img src="../img/publishing/books/29.jpg" alt="#">
						<img src="../img/publishing/books/30.jpg" alt="#">
						<img src="../img/publishing/books/31.jpg" alt="#">
						<img src="../img/publishing/books/32.jpg" alt="#">
						<img src="../img/publishing/books/33.jpg" alt="#">
						<img src="../img/publishing/books/34.jpg" alt="#">
						<img src="../img/publishing/books/35.jpg" alt="#">
						<img src="../img/publishing/books/36.jpg" alt="#">
						<img src="../img/publishing/books/37.jpg" alt="#">
						<img src="../img/publishing/books/38.jpg" alt="#">
						<img src="../img/publishing/books/39.jpg" alt="#">
						<img src="../img/publishing/books/40.jpg" alt="#">
						<img src="../img/publishing/books/41.jpg" alt="#">
						<img src="../img/publishing/books/42.jpg" alt="#">
						<img src="../img/publishing/books/43.jpg" alt="#">
						<img src="../img/publishing/books/44.jpg" alt="#">
						<img src="../img/publishing/books/45.jpg" alt="#">
						<img src="../img/publishing/books/46.jpg" alt="#">
						<img src="../img/publishing/books/47.jpg" alt="#">
						<img src="../img/publishing/books/48.jpg" alt="#">
						<img src="../img/publishing/books/49.jpg" alt="#">
						<img src="../img/publishing/books/50.jpg" alt="#">
						<img src="../img/publishing/books/51.jpg" alt="#">
						<img src="../img/publishing/books/52.jpg" alt="#">
						<img src="../img/publishing/books/53.jpg" alt="#">
						<img src="../img/publishing/books/54.jpg" alt="#">
						<img src="../img/publishing/books/55.jpg" alt="#">
						<img src="../img/publishing/books/56.jpg" alt="#">
						<img src="../img/publishing/books/57.jpg" alt="#">
						<img src="../img/publishing/books/58.jpg" alt="#">
						<img src="../img/publishing/books/59.jpg" alt="#">
						<img src="../img/publishing/books/60.jpg" alt="#">
						<img src="../img/publishing/books/61.jpg" alt="#">
						<img src="../img/publishing/books/62.jpg" alt="#">
						<img src="../img/publishing/books/63.jpg" alt="#">
						<img src="../img/publishing/books/64.jpg" alt="#">
						<img src="../img/publishing/books/65.jpg" alt="#">
						<img src="../img/publishing/books/66.jpg" alt="#">
						<img src="../img/publishing/books/67.jpg" alt="#">
						<img src="../img/publishing/books/68.jpg" alt="#">
						<img src="../img/publishing/books/69.jpg" alt="#">
						<img src="../img/publishing/books/70.jpg" alt="#">
						<img src="../img/publishing/books/71.jpg" alt="#">
						<img src="../img/publishing/books/72.jpg" alt="#">
						<img src="../img/publishing/books/73.jpg" alt="#">
						<img src="../img/publishing/books/74.jpg" alt="#">
						<img src="../img/publishing/books/75.jpg" alt="#">
						<img src="../img/publishing/books/76.jpg" alt="#">
						<img src="../img/publishing/books/77.jpg" alt="#">
						<img src="../img/publishing/books/78.jpg" alt="#">
						<img src="../img/publishing/books/79.jpg" alt="#">
						<img src="../img/publishing/books/80.jpg" alt="#">
						<img src="../img/publishing/books/81.jpg" alt="#">
						<img src="../img/publishing/books/82.jpg" alt="#">
						<img src="../img/publishing/books/83.jpg" alt="#">
						<img src="../img/publishing/books/84.jpg" alt="#">
						<img src="../img/publishing/books/85.jpg" alt="#">
						<img src="../img/publishing/books/86.jpg" alt="#">
						<img src="../img/publishing/books/87.jpg" alt="#">
						<img src="../img/publishing/books/88.jpg" alt="#">
						<img src="../img/publishing/books/89.jpg" alt="#">
						<img src="../img/publishing/books/90.jpg" alt="#">
						<img src="../img/publishing/books/91.jpg" alt="#">
						<img src="../img/publishing/books/92.jpg" alt="#">
						<img src="../img/publishing/books/93.jpg" alt="#">
						<img src="../img/publishing/books/94.jpg" alt="#">
						<img src="../img/publishing/books/95.jpg" alt="#">
						<img src="../img/publishing/books/96.jpg" alt="#">
						<img src="../img/publishing/books/97.jpg" alt="#">
						<img src="../img/publishing/books/98.jpg" alt="#">
						<img src="../img/publishing/books/99.jpg" alt="#">
						<img src="../img/publishing/books/100.jpg" alt="#">
						<img src="../img/publishing/books/101.jpg" alt="#">
						<img src="../img/publishing/books/102.jpg" alt="#">
						<img src="../img/publishing/books/103.jpg" alt="#">
						<img src="../img/publishing/books/104.jpg" alt="#">
						<img src="../img/publishing/books/105.jpg" alt="#">
						<img src="../img/publishing/books/106.jpg" alt="#">
						<img src="../img/publishing/books/107.jpg" alt="#">
						<img src="../img/publishing/books/108.jpg" alt="#">
						<img src="../img/publishing/books/109.jpg" alt="#">
						<img src="../img/publishing/books/110.jpg" alt="#">
						<img src="../img/publishing/books/111.jpg" alt="#">
						<img src="../img/publishing/books/112.jpg" alt="#">
						<img src="../img/publishing/books/113.jpg" alt="#">
						<img src="../img/publishing/books/114.jpg" alt="#">
						<img src="../img/publishing/books/115.jpg" alt="#">
						<img src="../img/publishing/books/116.jpg" alt="#">
						<img src="../img/publishing/books/117.jpg" alt="#">
						<img src="../img/publishing/books/118.jpg" alt="#">
						<img src="../img/publishing/books/119.jpg" alt="#">
						<img src="../img/publishing/books/120.jpg" alt="#">
						<img src="../img/publishing/books/121.jpg" alt="#">
						<img src="../img/publishing/books/122.jpg" alt="#">
						<img src="../img/publishing/books/123.jpg" alt="#">
						<img src="../img/publishing/books/124.jpg" alt="#">
						<img src="../img/publishing/books/125.jpg" alt="#">
						<img src="../img/publishing/books/126.jpg" alt="#">
						<img src="../img/publishing/books/127.jpg" alt="#">
						<img src="../img/publishing/books/128.jpg" alt="#">
					</div>
				</div>
			</div>
		</div>
		<div class="book_publishing">
			<div class="container">
				<div class="book_publishing_okno">
					<div class="publishing_okno_body">
						<div class="publishing_okno_body_title">
							<h2>"АКНО"</h2>
						</div>
						<div class="publishing_okno_body_content">
							<img src="../img/publishing/okno/1.jpg" alt="">
							<img src="../img/publishing/okno/2.jpg" alt="">
							<img src="../img/publishing/okno/3.jpg" alt="">
							<img src="../img/publishing/okno/4.jpg" alt="">
							<img src="../img/publishing/okno/5.jpg" alt="">
							<img src="../img/publishing/okno/6.jpg" alt="">
							<img src="../img/publishing/okno/7.jpg" alt="">
							<img src="../img/publishing/okno/8.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="book_publishing_goman">
					<div class="publishing_goman_body">
						<div class="publishing_goman_body_title">
							<h2>"ГОМАН"</h2>
						</div>
						<div class="publishing_goman_body_content">
							<img src="../img/publishing/goman/1.jpg" alt="">
							<img src="../img/publishing/goman/2.jpg" alt="">
							<img src="../img/publishing/goman/3.jpg" alt="">
							<img src="../img/publishing/goman/4.jpg" alt="">
							<img src="../img/publishing/goman/5.jpg" alt="">
							<img src="../img/publishing/goman/6.jpg" alt="">
							<img src="../img/publishing/goman/7.jpg" alt="">
							<img src="../img/publishing/goman/8.jpg" alt="">
							<img src="../img/publishing/goman/9.jpg" alt="">
							<img src="../img/publishing/goman/10.1.jpg" alt="">
							<img src="../img/publishing/goman/10.2.jpg" alt="">
							<img src="../img/publishing/goman/11.jpg" alt="">
							<img src="../img/publishing/goman/12.jpg" alt="">
							<img src="../img/publishing/goman/13.jpg" alt="">
							<img src="../img/publishing/goman/14.jpg" alt="">
							<img src="../img/publishing/goman/15.jpg" alt="">
							<img src="../img/publishing/goman/16.jpg" alt="">
							<img src="../img/publishing/goman/17.jpg" alt="">
							<img src="../img/publishing/goman/18.jpg" alt="">
							<img src="../img/publishing/goman/19.jpg" alt="">
							<img src="../img/publishing/goman/20.jpg" alt="">
							<img src="../img/publishing/goman/21.jpg" alt="">
							<img src="../img/publishing/goman/22.jpg" alt="">
							<img src="../img/publishing/goman/23.jpg" alt="">
							<img src="../img/publishing/goman/24.jpg" alt="">
							<img src="../img/publishing/goman/25.jpg" alt="">
							<img src="../img/publishing/goman/26.jpg" alt="">
							<img src="../img/publishing/goman/27.jpg" alt="">
							<img src="../img/publishing/goman/28.jpg" alt="">
							<img src="../img/publishing/goman/29.jpg" alt="">
							<img src="../img/publishing/goman/30.jpg" alt="">
							</div>
						<div class="goman_body_application">
							<div class="goman_body_application_title">
								<h2>ПРИЛОЖЕНИЯ<br> к альманаху "Гоман"</h2>
							</div>
							<div class="goman_body_application_item">
								<img src="../img/publishing/goman/application/1.jpg" alt="">
								<img src="../img/publishing/goman/application/2.jpg" alt="">
								<img src="../img/publishing/goman/application/3.jpg" alt="">
								<img src="../img/publishing/goman/application/4.jpg" alt="">
								<img src="../img/publishing/goman/application/5.jpg" alt="">
								<img src="../img/publishing/goman/application/6.jpg" alt="">
								<img src="../img/publishing/goman/application/7.jpg" alt="">
								<img src="../img/publishing/goman/application/8.jpg" alt="">
								<img src="../img/publishing/goman/application/9.jpg" alt="">
								<img src="../img/publishing/goman/application/10.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="book_publishing_talent">
					<div class="publishing_talent_body">
						<div class="publishing_talent_body_title">
							<h2>"ТАЛЕНТ"</h2>
						</div>
						<div class="publishing_talent_body_content">
							<img src="../img/publishing/talent/1.jpg" alt="">
							<img src="../img/publishing/talent/2.jpg" alt="">
							<img src="../img/publishing/talent/3.jpg" alt="">
							<img src="../img/publishing/talent/4.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="book_pdf_gallery">
			<div class="container">
				<div class="book_pdf_title">
					<h2>КНИГИ ПАМЯТИ<br> о совместной учёбе<br><span class="subtext">(образцы для заказов)</span></h2>
				</div>
				<div class="book_photo_gallery_body">
					<div class="book_pdf_item">
						<a href="../img/publishing/pdf/Бывай,%20школа!.pdf" target="_blank"><img src="../img/publishing/pdf/Бывай,%20школа!.jpg" loading = "lazy" alt=""></a>
					</div>
					<div class="book_pdf_item">
						<a href="../img/publishing/pdf/Школьные%20годы%20чудесные.pdf" target="_blank"><img src="../img/publishing/pdf/Школьные%20годы.jpg" loading = "lazy" alt=""></a>
					</div>
				</div>
			</div>
		</div>
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
		<script src="../js/slick.min.js"></script>
		<script src="../js/js.js"></script>
	</div>
</main>
<footer>
	<div class="footer">
		<p class="footer-text-author">Сайт Миколы Трафимчука</p>
	</div>
</footer>
</body>
</html>