<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Общественная деятельность</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/globalComponents.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="shortcut icon" href="../img/title_logo.ico" type="image/ico">
</head>
<body>
<header>
    <nav>
        <h2 class="logo">Мікола Трафімчук</h2>
        <ul class="navigation_bar">
            <li><a href="../index.html">Главная</a></li>
            <li class="dropdown_menu">
                <a>Творчество</a>
                <ul class="dropdown_content">
                    <li><a href="../Components/Journalism.html">Журналистская деятельность</a></li>
                    <li><a href="../Components/Composing.html">Композиторская деятельность</a></li>
                    <li><a href="../Components/Literature.html">Литературная деятельность</a></li>
                    <li><a href="../Components/Publishing.html">Издательская деятельность</a></li>
                    <li><a href="#">На рабочем столе</a></li>
                </ul>
            </li>
            <li><a href="#">Общественная деятельность</a></li>
            <li><a href="../Components/Contacts.html">Контакты</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="about_page">
        <div class="container">
            <div class="about_row">
                <div class="about_body">
                    <div class="about_title">
                        <h2>ОБЩЕСТВЕННАЯ ДЕЯТЕЛЬНОСТЬ</h2><br>
                    </div>
                    <div class="about_text">
                        <p>К этого рода деятельности я отношу в первую очередь активную работу по пропаганде отечественной литературы и работе с начинающими писателями в литературных объединениях «Ясельда» (Иваново) и «Світанак» (Дрогичин), а также работу в Бюро пропаганды Союза белорусских писателей и встречах с читателями и почитателями изящной словесности.
                            В этом году по моей инициативе разворачивается создание нового общественного движения ЭТАП (абревиатура в белорусской транскрипции, которая расшифровывается так: ”Эксперыментальнае таварыства аматараў прыгожага”). Но всё вкратце и по порядку!
                            О работе литературного объединения «Ясельда» при Ивановской райгазете «Чырвоная звязда» (1975-1980 годы) я рассказал в статье «Плынь Ясельды бадзёрыць мяне да гэтага часу…”, а о работе в качестве руководителя литобъединения “Світанак” при Дрогичинской райгазете “Запаветы Леніна” (1984-1988) – в статье “Світанак як прэлюдыя дня…”. Оба материала смотрите ниже!
                        </p>
                        <br>
                        <p>С 1990 по 1992 годы я работал корреспондетом-организатором в Бюро прапаганды художественной литературы Союза белорусских писателей. Это сотни встреч литераторов и артистов с трудовыми коллективами республики и с молодёжью. Об этом периоде сохранилось только несколько фотоснимков, а также начата работа над эссе, которое обязательно будет помещено на этом сайте.
                        </p>
                        <br>
                        <p> Более 12 лет я редактирую основанный мною литературный альманах “Гоман”. И это тоже часть моей общественной деятельности ( см. раздел “Редакционно-издательская деятельность”).<br>
                            В последнее время обдумываю детали создания и деятельности некого творческого объединения, которое бы аккумулировала все лучшие достижения в национальной духовной культуре нашей страны. Подготовлены материалы оргкомитета по созданию общественного объединения “ЭТАП”. Смотрите ниже!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery_page">
        <div class="container">
            <div class="slider_wrapper">
                <div class="slider">
                    <div class="slider-item">
                        <img src="../img/social/1.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/2.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/3.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/4.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/5.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/6.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/7.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/8.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/9.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/10.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/11.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/12.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/13.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/14.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/15.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/16.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/17.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/18.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/19.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/20.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/21.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/22.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/23.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/24.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/25.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/26.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/27.jpg" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="../img/social/28.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="book_pdf_gallery">
        <div class="container">
            <div class="book_gallery_title, book_gallery_title_social">
                <h2>Статьи, интервью</h2>
            </div>
            <div class="book_photo_gallery_body">
                <div class="book_pdf_item">
                    <a href="../img/social/pdf/А%20песні%20будуць%20гучаць.pdf" target="_blank"><img src="../img/social/pdf/А%20песні%20будуць%20гучаць-1_page-0001.jpg" loading = "lazy" alt=""></a>
                    <p class="social_pdf_item_title">А песні будуць гучаць</p>
                </div>
                <div class="book_pdf_item">
                    <a href="../img/social/pdf/Альманах%20ГОМАН%20уверенно%20занимает%20свою%20нишу....pdf" target="_blank"><img src="../img/social/pdf/Альманах%20ГОМАН%20уверенно%20занимает%20свою%20нишу..._page-0001.jpg" loading = "lazy" alt=""></a>
                    <p class="social_pdf_item_title">Альманах ГОМАН</p>
                </div>
                <div class="book_pdf_item">
                    <a href="../img/social/pdf/Да%20100-годдзя%20Авяр'яна%20Дзеружынскага%20(нарадзіўся%2010%20чэрвеня%201919%20года).pdf" target="_blank"><img src="../img/social/pdf/Да%20100-годдзя%20Авяр'яна%20Дзеружынскага%20(нарадзіўся%2010%20чэрвеня%201919%20года)-1_page-0001.jpg" loading = "lazy" alt=""></a>
                    <p class="social_pdf_item_title">Да 100-годдзя Авяр'яна Дзеружынскага</p>
                </div>
                <div class="book_pdf_item">
                    <a href="../img/social/pdf/Жыццё%20для%20нас%20--%20дар%20і%20даніна.pdf" target="_blank"><img src="../img/social/pdf/Жыццё%20для%20нас%20%20-%20%20дар%20і%20даніна-1_page-0001.jpg" loading = "lazy" alt=""></a>
                    <p class="social_pdf_item_title">Жыццё для нас</p>
                </div>
                <div class="book_pdf_item">
                    <a href="../img/social/pdf/Світанак%20як%20прэлюдыя%20дня.pdf" target="_blank"><img src="../img/social/pdf/Світанак%20як%20прэлюдыя%20дня-1_page-0001.jpg" loading = "lazy" alt=""></a>
                    <p class="social_pdf_item_title">Світанак як прэлюдыя дня</p>
                </div>
                <div class="book_pdf_item">
                    <a href="../img/social/pdf/У%20ПАЭТА%20ЎСЁ%20НЕ%20ГЭТАК....pdf" target="_blank"><img src="../img/social/pdf/У%20ПАЭТА%20ЎСЁ%20НЕ%20ГЭТАК...-1_page-0001.jpg" loading = "lazy" alt=""></a>
                    <p class="social_pdf_item_title">У ПАЭТА ЎСЁ НЕ ГЭТАК</p>
                </div>
            </div>
        </div>
    </div>
    <div class="video_gallery">
        <div class="container">
            <div class="video_row">
                <div class="video_body">
                    <div class="video_title"><h2>ВИДЕО</h2></div>
                    <div class="video_library">
                        <div class="video_item">
                            <iframe
                                    width="490" height="290"
                                    loading="lazy"
                                    srcdoc="<a href=https://www.youtube.com/embed/1-dd3ZvP0I0><img src=../img/social/video/1.png></a>">
                            </iframe>
                        </div>
                        <div class="video_item">
                            <iframe
                                    width="490" height="290"
                                    loading="lazy"
                                    srcdoc="<a href=https://www.youtube.com/embed/7dEDRCo0PqE><img src=../img/social/video/2.png></a>">
                            </iframe>
                        </div>
                        <div class="video_item">
                            <iframe
                                    width="490" height="290"
                                    loading="lazy"
                                    srcdoc="<a href=https://www.youtube.com/embed/65GlcQMZXmk><img src=../img/social/video/3.png></a>">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/js.js"></script>
</main>
<footer>
    <div class="footer">
        <p class="footer-text-author">Сайт Миколы Трафимчука</p>
    </div>
</footer>
</body>
</html>